
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Oxanium', sans-serif;
  background-color: #000;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Text */

.text {
  position: fixed;
  z-index: 4;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 50%;
  margin-top: -240px;
}

.text h1 {
  padding: 0;
  margin: 0;
}

.text p {
  padding: 0;
  margin: 0;
}

/* Box */

.box {
  z-index: 2;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 230px);
  width: 380px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(16cm) rotateX(-20deg) rotateY(-32deg);
}

.box .face {
  position: fixed;
}

.box .face.top {
  height: 380px;
  width: 380px;
  background: #1b2523;
  /* background: linear-gradient(90deg, rgba(90,108,108,1) 0%, rgba(85,130,127,1) 35%, rgba(29,58,60,1) 100%); */
  transform: rotateX(90deg) translate3d(0, -140px, 190px);
}

.box .face.top .center {
  position: absolute;
  height: 360px;
  width: 360px;
  background: #000;
  margin: 10px;
  background: rgba(29, 58, 60, 0.6);
  border-bottom: 4px solid #0008;
  border-right: 4px solid #0008;
}

.box .face.top .center .square {
  position: absolute;
  height: 280px;
  width: 280px;
  margin: 40px;
  background: rgb(90,108,108);
  background: linear-gradient(90deg, rgba(90,108,108,0.2) 0%, rgba(85,130,127,0.2) 35%, rgba(29,58,60,0.2) 100%);
  border-top: 4px solid #0008;
  border-left: 4px solid #0008;
}

.box .face.side {
  height: 160px;
  width: 380px;
  background: #0b0f0e;
  transform: rotateY(-90deg) translate3d(-140px, 0, -190px);
}

.box .face.front {
  width: 380px;
  height: 160px;
  background: #151c1a;
  transform: translate3d(0, 0, 50px);
}

.box .face.front .center {
  margin-top: 20px;
  margin-left: 50px;
  width: 280px;
  height: 120px;
  background: #000;
  cursor: grab;
}

/* Background and Cover */

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#page-cover {
  z-index: 3;
  opacity: 0.6;
  transition: background-color 0.4s;
}

#background-cover {
  /* TODO: add animation class when trial starts */
  background-color: #52150d;
  opacity: 0.6;
  z-index: 1;
}

#background-image {
  z-index: 0;
  background-size: cover;
  background-position: center;
}